<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>About Us</title>
</head>
<body>
  <div class="paragraph">
  <p>Flower's mission is to provide our members with top quality vegetable, herb, and decorative plants as well as exceptional customer service at the most competitive prices.
    In order to achieve our mission, we keep these pillars in mind:</p>
    <p>Be relentlessly devoted to our customers</p>
    <p>Invest in our employee’s long-term futures</p>
    <p>Treat our farmers and suppliers with respect</p>
  </div>

            <!-- Contact Section -->
<section id="contact">
              <div class="container">
                  <h2 class="text-center text-uppercase">Questions or Comments?  We'd love to hear from you!</h2>
                  <div class="row">
                    <form action="https://formspree.io/ryanaverywolf@gmail.com" method="POST">
                      <div class="control-group">
                        <div class="form-group">
                          <label>Name</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Your Name"
                            id="name"
                            required
                            data-validation-required-message="Please enter your name"
                            name="name"
                            >
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                      <div class="control-group">
                        <div class="form-group">
                          <label>Email Address</label>
                          <input
                            type="email"
                            class="form-control"
                            placeholder="Your Email"
                            id="email"
                            required
                            data-validation-required-message="Please enter your email"
                            name="_replyto"
                          >
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                      <div class="control-group">
                        <div class="form-group">
                          <textarea
                            class="form-control"
                            rows="7"
                            placeholder="Your Message"
                            id="message"
                            required
                            data-validation-required-message="Please leave a message"
                            name="message"
                          ></textarea>
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                      <div class="text-center">
                        <div id="success"></div>
                        <button type="submit" class="btn btn-lg btn-black">
                          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                          Send Message
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
          </section>
</body>
</html>