<!-- <h2>Flowers</h2> -->
<!-- <div>
<ul class="products">
  <li *ngFor="let product of products">
    <p>{{ product.id }} </p>
    <p>{{ product.product_name }} </p>
    <p> {{ product.product_description }} </p>
    <p> {{ product.product_price }} </p>
    <p> {{ product.product_image }} </p>
  </li>
</ul>
</div> -->
<div class="body">
<br/>
<h1>Welcome to our Products!</h1>
<br/>


<p>We spcialize in a wide selection of the most exoctic and beautiful flowers in the world! 
  <br/>We enjoy the smile that comes to people's face when they come into our shop and are smacked in the face with our flowers!</p>
<div class="deck" *ngFor="let product of products">
  <div class="card">
      <div class="cardContainer">
          <!-- <ul class="products"> -->
              <!-- <li *ngFor="let product of products"> -->
                <p>{{ product.id }} </p>
                <h1>{{ product.product_name }} </h1>
                <p> {{ product.product_description }} </p>
                <p> {{ product.product_price }} </p>
                <img src="{{ product.product_image }}"> 
              <!-- </li> -->
            <!-- </ul> -->
      </div>
  </div>
</div>
</div>

